$mainColor-1: #01B0EF;
$mainColor-2: #e4e4e4;
$mainColor-3: #4f4f4f;
$mainColor-4: #fff;
$mainColor-5: #0d3591;
$darkGrey: #515151;
$whatsapp: #76df00;
$schedulingColor: #004e6f;
$schedulingDarkGrey: #444;
$schedulingMediumGrey: #999;
$schedulingLightGrey: #eee;